.header{
  .logo{

  }
  .menu{
    list-style: none;
    position:relative;
    overflow:hidden;
    .menu-link{
      background:green;
      margin:0 5px 0 5px;
      padding: 0 10px 0 10px;
      float: left;
      .submenu{
        list-style:none;
      }
    }
  }
}